.game-container {
    position: relative;
    margin: 20px;
    background-color: lightsteelblue;
}

.button-container {
    position: absolute;
    top: 24px;
    width: 100%;
}

.simple-box {
    padding: 20px;
    width: 320px;
    height: 640px;
    background-color: #dfdcb9;
}

.flex-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.simple-button {
    margin: 10px;
}

.pointer {
    cursor: pointer;
}